.SearchHeader {
  background-color: #fafafa;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  padding: 20px 13px 0;
}

.SearchHeader__logo-holder {
  width: 137px;
  flex-grow: 0;
  flex-shrink: 0;
}

.SearchHeader__logo {
  margin-top: 4px;
  width: 120px;
}

.SearchHeader__form {
  margin-bottom: 16px;
}

.SearchHeader__rich-tools {
  display: flex;
}

.SearchHeader__tools {
  align-self: center;
  margin-left: auto;
}
