.SpeechRecognition {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  margin: 0;
  min-width: 100%;
  overflow: hidden;
  padding: 24px 0 24px 133px;
  box-sizing: border-box;
}

.SpeechRecognition__content {}
.SpeechRecognition__content-item {
  display: inline-block;
  vertical-align: middle;
}

.SpeechRecognition__text {
  color: #777;
  font-size: 27px;
  line-height: 1.2;
  width: 501px;
}

.SpeechRecognition__google-logo {
  position: relative;
  top: 3px;
  opacity: 0.54;
  height: 32px;
  width: 94px;
}

.SpeechRecognition__microphone {
  margin-right: 50px;
}

.SpeechRecognition__close {
  color: #777;
  cursor: pointer;
  font-size: 26px;
  right: 0;
  line-height: 15px;
  margin: 10px;
  opacity: 0.6;
  padding: 5px;
  position: absolute;
  top: 0;
  background: none;
  border: none;
  outline: none;
}

.SpeechRecognition__close:hover {
  opacity: 0.8;
}
