.SpeechRecognition {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  margin: 0;
  min-width: 100%;
  overflow: hidden;
  padding: 24px 0 24px 133px;
  box-sizing: border-box;
}

.SpeechRecognition__content {}
.SpeechRecognition__content-item {
  display: inline-block;
  vertical-align: middle;
}

.SpeechRecognition__text {
  color: #777;
  font-size: 27px;
  line-height: 1.2;
  width: 501px;
}

.SpeechRecognition__google-logo {
  position: relative;
  top: 3px;
  opacity: 0.54;
  height: 32px;
  width: 94px;
}

.SpeechRecognition__microphone {
  position: relative;
  width: 95px;
  height: 95px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.218s,border 0.218s,box-shadow 0.218s;
  outline: none;
  color: #f44;
  margin-right: 50px;
}

.SpeechRecognition__microphone:active {
  background-color: #eee;
}

.SpeechRecognition__microphone_active {
  position: relative;
  background: #f44;
  color: #fff;
}

.SpeechRecognition__microphone_active:before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 150px;
  height: 150px;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
  background: #dbdbdb;
}

.SpeechRecognition__microphone_fail {
  background: #999;
}

.SpeechRecognition__microphone-icon {
  position: relative;
  top: 3px;
  left: 0px;
}

.SpeechRecognition__close {
  color: #777;
  cursor: pointer;
  font-size: 26px;
  right: 0;
  height: 11px;
  line-height: 15px;
  margin: 15px;
  opacity: 0.6;
  padding: 0;
  position: absolute;
  top: 0;
  width: 15px;
  background: none;
  border: none;
  outline: none;
}

.SpeechRecognition__close:hover {
  opacity: 0.8;
}
