.MicrophoneButton {
  position: relative;
  display: inline-block;
}

.MicrophoneButton__button {
  position: relative;
  width: 95px;
  height: 95px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
  cursor: pointer;
  transition: background-color 0.218s,border 0.218s,box-shadow 0.218s;
  outline: none;
  color: #f44;
}

.MicrophoneButton__button:active {
  background-color: #eee;
}

.MicrophoneButton__button_fail {
  background: #999;
}

.MicrophoneButton__button_active {
  position: relative;
  background: #f44;
  color: #fff;
}

.MicrophoneButton__active_indicator {
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
}

.MicrophoneButton__active_indicator:before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #dbdbdb;
}

.MicrophoneButton__icon {
  position: relative;
  top: 3px;
  left: 0px;
}
