.SearchPage {

}

.SearchPage__preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchPage__content {
  padding-left: 168px;
  overflow: hidden;
}

.SearchPage__stuff {
  position: relative;
  height: 52px;
}

.SearchPage__filter-panel {
  position: absolute;
  padding-top: 12px;
  margin-left: -17px;
}

.SearchPage__filter-panel-enter {
  top: -68px;
}

.SearchPage__filter-panel-enter.SearchPage__filter-panel-enter-active {
  top: 0;
  transition: top 220ms ease-in-out;
}

.SearchPage__filter-panel-leave {
  top: 0;
}

.SearchPage__filter-panel-leave.SearchPage__filter-panel-leave-active {
  top: -68px;
  transition: top 220ms ease-in-out;
}

.SearchPage__results-count {
  position: absolute;
}

.SearchPage__results-count-enter {
  top: 13px;
  opacity: 0.01;
}

.SearchPage__results-count-enter.SearchPage__results-count-enter-active {
  top: 0px;
  opacity: 1;
  transition: all 220ms ease-in-out;
}

.SearchPage__results-count-leave {
  top: 0px;
  opacity: 1;
}

.SearchPage__results-count-leave.SearchPage__results-count-leave-active {
  top: 13px;
  opacity: 0.01;
  transition: all 220ms ease-in-out;
}
