html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* FF dotted border remove */
::-moz-focus-inner { border: 0; }
:focus { outline: none; }
